<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
    </head>
    <body>
        <header>
            <h1>Setupp</h1>
        </header>
        <content>
            <nav>
                <a href="#">Now</a>
                <a href="#">Week</a>
                <a href="#">Month</a>
                <a href="#">Year</a>
                <a href="#">Effectivity report</a>
                <a href="#">Log</a>
            </nav>
            <button>Add new task</button>
            <button>Create report</button>
            <button>Analize your efficiency</button>
            <div>
                <h2>Current tasks</h2>
                <table>
                    <thead>
                        <th>Priority</th>
                        <th>Name</th>
                        <th>Estimate</th>
                        <th>Timing</th>
                        <th>Progress</th>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>Learn js</td>
                        <td>5w</td>
                        <td>3w 2d 5h 23m</td>
                        <td><button>Count your time</button></td>
                        <td><button>Stop</button><button>Finish</button></td> <!--Onclick stop open a window and ask procent-->
                    </tbody>
                </table>
            </div>
            <div>
                <h2>Monitoring of your productivity</h2>
                <!--http://www.taffydb.com/-->
            </div>
        </content>
    </body>
</html>